*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #161B22;
	color: white;
}

.brand-title{
	font-size: 1.5rem;
	margin: 1rem;
}

.nav-links ul{
	display: flex;
	margin: 0;
	padding: 0;
}

.nav-links li{
	list-style: none;
}

.nav-links li:hover{
	background-color: grey;
	transition: 0.3s;
}

.nav-links li a{
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}